<p style="color: green"><%= notice %></p>

<%= render @trial %>

<div>
  <%= link_to "Edit this trial", edit_trial_path(@trial) %> |
  <%= link_to "Back to trials", trials_path %>

  <%= button_to "Destroy this trial", @trial, method: :delete %>
</div>
